.top-buffer:not(:first-child) {
    margin-top: 3rem !important;
}

.article-grid-container {
    justify-content: center;
    /* align-items: center; */
}

.article-row {
    row-gap: 3rem;
    max-height: none;
}

@media screen and (min-width : 1200px) {

    .article-grid-container .row:last-child {
        justify-content: flex-start !important;

    }
}

@media screen and (max-width: 700px) {
    .top-buffer:not(:first-child) {
        margin-top: 1rem !important;
    }

    .article-row {
        row-gap: 1rem;
    }
}