.article-row{
    position: relative;
    max-height: 6rem;
    min-height: 0;
    margin: 0;
}

.article-row td{
    vertical-align: middle;
}

.item-cross-icon{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.article-row img{
    height: 7rem;
}

.article-row svg{
    background: transparent;
    border: none;
    box-shadow: none;
}