.category-select-hover{
    min-width: 20rem;
    border: none;
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
    box-shadow: 32px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.category-main-name{
    position: relative;
    cursor: pointer;

}

.hover-drawer:hover{
    background-color: rgb(143, 143, 143) !important;
}

.category-main-name:hover .hover-drawer{
    display: block;
}

.hover-drawer{
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: -1px;
    transform: translateX(100%);
}

@media screen and (max-width: 700px) {
    .category-select-hover{
        display: none;
    }
}