
.cart-page{
    padding-top: 3rem;
}

.cost-sum-con{
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}
