.browse-page-main{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.name-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    align-self: center;
    padding-bottom: 3rem;
}

.grid-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
}

.browse-page-main .category-name{
    text-align: left;
    font-size: 2.5rem;
    position: relative;
}
.browse-page-main .name-container::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: rgb(54,54,54);
    /* background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(54,54,54,1) 10%, rgba(255,255,255,1) 100%); */
    bottom: 2rem;
    left: 0;
}

.bread-crumbs{
    padding-left: 10%;
    text-decoration: none;
}

.articles-grid-controlls{
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}


.categorys{
    width: 25%;
    margin-left: 2.5%;
}

.controlles{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.filters-con{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

.filters-con::after{
    margin-top: 2px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #b1b1b1;
}

@media (max-width: 576px){
    
    .categorys {
        display: none;
    }
    .filters-con {
        justify-content: center;
    }
    .filters-con .filter-select,  .filters-con .dropdown-menu , .filters-con .filter-select .dropdown-toggle, .filters-con .filter-select span{
        width: 100% !important;
    }


    .filters-con .filter-select::after{
        margin-top: 2px;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #b1b1b1;
    }
}