.popular-card{
    transition: box-shadow 0.3s ease-out;
    text-align: left;
    position: relative;
    min-height: 320px;
    min-width: 330px;
    border-radius: 12px !important;
    overflow: hidden;
}
.popular-card:hover{
    box-shadow: rgba(0, 0, 0, 0.007) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card-info{
    padding-top: 1rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-info>div{
    background-color: rgba(128, 128, 128, 0.168);
    padding-inline: 0.3rem;
    padding-right: 0.7rem;
}

.article-cost{
    font-size: large;
    font-weight: 500;
    margin: auto;
}

.article-cart{
    margin-inline: 0.5rem;
    
}

.article-cart:hover{
    color: rgb(186, 186, 132);
}

.in-cart-icon{
    position: absolute;
    right: -1rem;
    top: 0.5rem;
    background-color: rgba(255, 0, 0, 0.359);
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-cart-icon .icon{
    padding-block: 0.3rem;
    padding-left: 1rem;
    padding-right: 0.2rem;
    color: rgb(40, 40, 40);
}