.navbar-main{

}

.nav-search-form{
    display: none;
}

.nav-offcanvas{
    display: none;
}
.small-cart-btn{
    display: none;
}
@media (max-width: 1000px){
    
    .navbar-main{
        font-size: 10px;
    }
   
}
@media (max-width: 771px){
    .nav-search-form{
        display: block;
        min-width: 7rem;
        max-width: 10rem;
    }
    .small-cart-btn{
        display: block;
    }
    .navbar-main .nav-links{
        display: none;
    }

    .nav-offcanvas{
        display: block;
    }
}
