.navbar-main{

}

.nav-search-form{
    display: none;
}

.nav-offcanvas{
    display: none;
    overflow-y: auto;
}
.small-cart-btn{
    display: none;
}

.small-search-con{
    width: 100%;
    justify-content: center;
    display: none;
}

@media (max-width: 1000px){
    
    .navbar-main{
        font-size: 10px;
    }
   
}
@media (max-width: 771px){
    .nav-search-form{
        display: block;
        min-width: 7rem;
        max-width: 10rem;
    }
    .small-cart-btn{
        display: block;
    }
    .navbar-main .nav-links{
        display: none;
    }

    .nav-offcanvas{
        display: block;
    }
}

@media (max-width: 400px) {
    .small-search-con{
        margin-block: 0.5rem;
        display: flex;
    }
    .nav-search-form{
        display: none;
    }

    .small-search-con .ais-InstantSearch{
        width: 80%;
    }
}
