
.mobile-carousel{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: black;
}

.mobile-carousel .carousel{
    width: 100%;
    height: 100%;
}
.mobile-carousel>img{
    width: 100%;
    height: 100%;
}

.mobile-carousel p, .mobile-carousel h3{
    color: black;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    .mobile-carousel{
        display: block;
        width: 98%;
        height: 45vh;
        z-index: 50;
    }
}