
.footer{
    background-color: rgb(var(--bs-dark-rgb)) !important;
    width: 100%;
    margin-top: 3rem;
}

.copyright{
    width: 100%;
    text-align: center;
    padding-block: 0.5rem;
    color: white
}

.info{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.footer .info>div{
    
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer .info>div h4{
    text-align: center;
    padding-bottom: 2rem;
    color: white;
}

.footer>.info>.kontakt-info-con{
    display: flex;
    color: white;
    flex-direction: row;
    gap: 25%;
}

.footer .info p{
    color: white;
}
.footer .info a{
    color: white;
}

.hilight-text{
    color: rgb(209, 205, 255) !important;
}

@media (max-width: 768px){
    
    .footer{
        font-size: 9px;
    }
}

@media (max-width: 500px){
    
    .footer{
        font-size: 7px;
    }
    .footer>.info>.kontakt-info-con{
        gap: 0.3rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .footer .info>div h4{
        padding-bottom: 0;
    }
}